<h1>Editing perfil</h1>

<% form_for(@perfil) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :data_nascimento %><br />
    <%= f.date_select :data_nascimento %>
  </p>
  <p>
    <%= f.label :sexo %><br />
    <%= f.radio_button :sexo, "Masculino" %>Masculino
    <%= f.radio_button :sexo, "Feminino" %>Feminino
  </p>
  <p>
    <%= f.label :estado_civil %>
    <%= f.select "estado_civil", ["Solteiro", "Casado"]%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @perfil %> |
<%= link_to 'Back', perfis_path %>

