<p>
  <b>Nome:</b>
  <%=h @perfil.nome %>
</p>

<p>
  <b>Data nascimento:</b>
  <%=h @perfil.data_nascimento %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @perfil.sexo %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @perfil.estado_civil %>
</p>


<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfis_path %>